{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="rectangle bg-white w-9-10 h-9-10  mgt-10 flex relative ">
    <div class="bg-white flex flex-column w-5-10 form-connexion-connect">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            {% if app.session.flashBag.has('success') %}
                <div class="information-success">
                    {% for message in app.session.flashBag.get('success') %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}

            <h1 class="mgt-45">Se connecter</h1>
            <div class="form-group">
            <label for="inputEmail">Adresse mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="" autocomplete="email" required autofocus placeholder="Entrez votre adresse mail">
            </div>
            <div class="form-group">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password"  required placeholder="Entrez votre mot de passe">
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <button class=" button-validation mgt-5" type="submit">
                Se connecter
            </button>
        </form>

    </div>
    <div class="bg-blue flex flex-column w-5-10 text-connexion-connect">

        <h1 class="mgt-55">Bienvenue</h1>
        <p>Veuillez vous connecter pour pouvoir profiter de ce magnigique gestionnaire de tache, si vous ne possèdez pas de commpte veuillez vous inscrire !</p>
        <a href="{{ path('app_register') }}" class="button-redirection mgt-5">Se connecter</a>
    </div>
    </div>
{% endblock %}
